html{
  background-size: 600% 600%;

	-webkit-animation: BackAnim 30s ease infinite;
	-moz-animation: BackAnim 30s ease infinite;
	animation: BackAnim 30s ease infinite;
}

@-webkit-keyframes BackAnim {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-moz-keyframes BackAnim {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@keyframes BackAnim {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
