@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900');

html{
	overflow: hidden;
	height: 100%;
	background-repeat: no-repeat;

	background: linear-gradient(45deg, #ffa763, #ff875b, #f2a364);
}

#headerTop{
	position: fixed;
	top: 0px;
	background: rgba(0, 0, 0, 0.1);
	height: 10%;
	width: 100%;
	margin-left: -10px;
}

#icon{
	width: 3%;
	top: 20%;
	left: 2%;
	position: absolute;
}

#headerTop ul{
	padding-top: 0.75%;
}

#headerTop ul li{
	display: inline;
	list-style-type: none;
	padding-left: 5%;
	font-family: "Nunito";
	font-weight: bold;
	font-size: 1.5vw;
}

#headerTop ul li a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
}

#headerTop ul #selected{
	opacity: 0.9;
	padding-left: 7%;
	color: white;
}

#logo{
	width: 50%;
	margin: auto;
	padding-top: 7.5%;
}

#logo img{
	width: 100%;
}

/* testimonials slider geometry */
.tsl {
	padding:1em;
}

.tsl-list {
	list-style-type:none;
	margin:0;
	padding:0;
	position:relative;
	overflow:hidden;
}
.tsl-item {
	position:relative;
	top:0;
	left:100%;
	margin-left:-100%;
	width:100%;
	float:left;
	animation: tsl-fade-in-out 25s infinite;
	animation-play-state:running;
}

/* lets hide all items from second */
.tsl-item + .tsl-item {
	opacity:0;
}

/* animation */

/* animation shift */
/* negative delay needed to pause works correctly on hover */
.tsl-item:nth-child(2) {
	animation-delay: -20s;
}
.tsl-item:nth-child(3) {
	animation-delay: -15s;
}
.tsl-item:nth-child(4) {
	animation-delay: -10s;
}
.tsl-item:nth-child(5) {
	animation-delay: -5s;
}
/*
we have 5 items.
we want each slide plays ≈5s

each slide will play 1/5 of animation = 20%
1% of animation is for transitions (fading)
*/

@keyframes tsl-fade-in-out {
	0% {
		opacity:0;
		z-index:2;
	}
	1% {
		opacity:1;
		z-index:2;
	}
	20% {
		opacity:1;
	}
	21% {
		opacity:0;
		z-index:1;
	}
	100% {
		opacity:0;
	}
}

/* pause on hover */
.tsl-list:hover .tsl-item {
	animation-play-state:paused;
}

/* testimonials theme */
.tsl-content{
	width: 75%;
	margin: auto;
	padding-top: 2%;
}

.tsl-content p {
	margin-top:0;
	font-family: "Nunito", sans-serif;
	font-weight: bold;
	color: white;
	font-size: 2vw;
	text-align: center;
}
/* thats all */


#PlayBTN_Div{
	margin-top: 2%;
	transition: all .5s;
	pointer-events: none;
	animation: pulse 3s infinite;
/*	animation-timing-function: ease-in-out;
*/}

#playBTN{
	color: white;
	background: none;
	pointer-events: auto;
	
	font-family: "Nunito";
	font-weight: bold;
	font-size: 2.5vw;
	
	text-decoration: none;
	
	border: solid 7.5px white;
	border-radius: 190px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 55px;
	padding-right: 55px;

	transition: all .25s;
}

@keyframes pulse {
	0% {
		margin-top: 2%;
	}
	50% {
		margin-top: 1.5%;
	}
	100%{
		margin-top: 2%;
	}
}

#playBTN:hover{
	margin-bottom: 10px;

	padding-top: 17.5px;
	padding-bottom: 17.5px;

	border-color: /*#3ead7d #1C9F96E6*/ #1C9F96E6;
	border-width: 0px;
	border-radius: 15px;

	/*box-shadow: 0px 4px 20px #1C9F96E6;*/
	box-shadow: 1px 1px 30px rgba(38,198,218 ,1);
	background: linear-gradient(to right, #4ECDC4 0%, #556270 100%);
}

#PlayBTN_Div:hover{
	margin-top: 1%;
}

#copyright{
	color: white;
	left: 50%;
	margin-left: -17%;
	bottom: 0px;
	position: fixed;
	text-align: center;
	padding-top: 8%;
	font-family: "Nunito";
	font-weight: 600;
	font-size: 1.35vw;
	opacity: 0.65;
}

#fork-github{
	position: fixed;
	height: 3.5%;
	bottom: 0px;
	margin-left: 5%;

	background: white;

	border-top-right-radius: 20px;
	border-top-left-radius: 20px;

	padding: 0.65%;
	padding-left: 1%;
	padding-right: 1%;

	transition: all 0.25s;
}

#fork-github a{
	text-decoration: none;
	font-weight: 700;
	font-family: "Nunito";
	font-size: 1.1vw;
	color: #242F37;
}

#fork-github:hover{
	height: 45px;
	cursor: pointer;
}

#license{
	text-decoration: none;
	color: white;
	opacity: .95;

	position: fixed;
	bottom: 2%;
	right: 7.5%;

	font-weight: 400;
	font-size: 2vw;
	font-family: "Nunito";

	transition: all 0.25s;
}

#license:hover{
	opacity: 1;
	bottom: 2.5%;
}

.link-center{
      position: relative;
      text-decoration: none;
    }

    .link-center:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.8);
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    .link-center:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }

    .link {
      position: relative;
    }

    .link:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%; 
      border-bottom: 2px solid rgba(1, 1, 1, 0.5);
      transition: 0.4s;
    }

    .link:hover:after {
     width: 100%;
    }

#patreonIcon{
	position: fixed;
	top: 3%;
	right: 2%;
	opacity: 0.75;
}

#copyLinkBTN{
	position: fixed;
	top: 2.5%;
	color: white;
	right: 5.25%;
	opacity: 0.75;
	background: transparent;
	border: none;
	font-size: 2.2vw;
	cursor: pointer;
}

/* The Modal (background) */
#contactBTN {
    background-color: #e57952;
    border: 0px;
    position: fixed;
    overflow: hidden;
    height: 10.5%;
    top: 20%;
    right: -9%;
    transition: right .25s;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

#contactBTN:hover {
    right: -8px;
    cursor: pointer;
}

#contactBTN img {
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -1%;
    height: 55%;
}

#contactBTN p {
    color: white;
    font-weight: 700;
    font-family: 'Nunito';
    letter-spacing: .5px;
    font-size: 1.25vw;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 22.5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    transition: display 1s;
}

/* Modal Content */
.modal-content {
    background: linear-gradient(to bottom left, #ff7e5f 0%, #fba97c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 25%;
    height: 47.5%;
	box-shadow: 0 12px 27.26px 1.74px rgba(0,0,0,0.4);
	position: relative;
	font-family: 'Nunito';
}

/* The Close Button */
.close {
    color: rgba(255,255,255,0.3);
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color .25s, transform .25s;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transform: rotate(90deg);
}

.label{
	color: white;
	margin-bottom: 0px;
}

#email, #name, #msg{
	border-width: 0px;
	border-radius: 3px;
	width: 97%;
    font-size: 13px;
}

#email{
	height: 20px;
	padding-left: 5px;
}

#name{
	height: 20px;
	padding-top: 2px;
	padding-left: 5px;
}

#top{
	color: white;
	margin-top: 0px;
}

#msg{
	resize: none;
	height: 130px;
	padding-top: 5px;
	padding-left: 5px;
}

#send{
	color: white;
	background: linear-gradient(to right, #4ECDC4 0%, #556270 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	font-weight: 600;
	letter-spacing: 1px;
	padding: 8px 26px;
	border-radius: 3px;
	float: right;
	position: absolute;
	bottom: 15px;
	right: 15px;
	transition: all .25s;
	box-shadow: 0px 4px 20px #1C9F96E6;
}

#send:hover,
#send:focus{
	cursor: pointer;
	bottom: 20px;
}

#desc{
	color: white;
	font-weight: 600;
	margin-top: -5px;
	font-size: 15px;
}

/*social share button*/
.menu-item,
.menu-open-button {
  background: #f7f7f7;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-left: -40px;
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  line-height: 64px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.menuShare {
  margin: auto;
  position: fixed;
  bottom: 10px;
  right: 15px;
  width: 80px;
  height: 80px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
  z-index: 99;
}

.menuShare a.menu-item .fa{
  color: #fff
}

.share-icon{
  color: #596778;
}

.menu-item:hover {
  opacity: 1;
}

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 180ms;
  -webkit-transition-duration: 180ms;
  -webkit-transform: translate3d(0.08361px, -84.99997px, 0);
  transform: translate3d(0.08361px, -84.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 280ms;
  -webkit-transition-duration: 280ms;
  -webkit-transform: translate3d(0.08361px, -174.99997px, 0);
  transform: translate3d(0.08361px, -174.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 380ms;
  -webkit-transition-duration: 380ms;
  -webkit-transform: translate3d(0.08361px, -262.99997px, 0);
  transform: translate3d(0.08361px, -262.99997px, 0);
}

.facebook_share_btn {
  background-color: #3b5998;
}

.twitter_share_btn {
  background-color: #00aced;
}

.google_plus_share_btn {
  background-color: #dd4b39;
}

.menu-item{
	transition: all 0.5s;
}

.menu-item:hover{
	box-shadow: inset 0px 0px 1px 5px #fff;
	border-radius: 100%;
	position: fixed;
}
/*end social share button*/

#copyLinkBTN{
	transition: all 0.5s;
}

.iconClicked{
	opacity: 1 !important;
}
